button.btn-select
{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    height: 28px;
    overflow: hidden;
}

button.btn-select:hover
{
    background-color: #F2F2F2;
}

button.btn-select:active
{
    box-shadow: 0 0 5px -1px #888888 inset;
}

button.btn-select .selected-value
{
    flex: 1;
    text-align: left;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
}

button.btn-select .selected-caret
{
    flex: 0 0 20px;
    align-self: center;
}

button.btn-select .input-addon
{
    background-color: #6ABA4F;
    border-color: #6ABA4F;
    color: #FFFFFF;
    padding: 5px;
}