.container.main
{
    padding: 0;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 0;
    min-width: 0;

    .content
    {
        display: flex;
        flex-direction: column;
        flex: 1;
        min-height: 0;
        min-width: 0;

        .main-content
        {
            display: flex;
            flex: 1;
            min-height: 0;
            min-width: 0;
        }
    }
}