//---------------------- SIZING ----------------------
$pageXsWidth: 2px;
$pageSmWidth: 10px;
$pageMdWidth: 20px;
$pageLgWidth: 36px;

$pageNegXsWidth: -2px;
$pageNegSmWidth: -10px;
$pageNegMdWidth: -20px;
$pageNegLgWidth: -36px;

$fontSizeXs: 10px;
$fontSizeSm: 12px;
$fontSizeMd: 14px;
$fontSizeLg: 16px;
$fontSizeXl: 18px;
$fontSizeXxl: 22px;

$borderRadius: 4px;